page-home {
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
        }
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }
        button {
            display: table;
            margin-left: auto;
            margin-right: auto;
        }
    }
    // $card-md-font-size: 2.0rem;
    // $card-md-header-color: #eeeeee;
    // $card-md-margin-top: 200px;
    // $button-md-margin:10.4rem 17.2rem;
}